﻿@page "/todo"
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" class="mb-2"/>
        </li>
    }
</ul>
<div class="row">
    <div class="col col-sm-4">
        <input placeholder="Something todo" @bind="newTodo" class="form-control" />
    </div>
    <div class="col">
        <button @onclick="AddTodo" class="btn btn-primary">Add todo</button>
    </div>
</div>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo = null;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}